<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NMFNcpKeyId</key>
	<string>$(NAVER_MAP_CLIENT_ID)</string>
	<key>NAVER_MAP_CLIENT_ID</key>
	<string>$(NAVER_MAP_CLIENT_ID)</string>
	<key>NAVER_MAP_CLIENT_SECRET</key>
	<string>$(NAVER_MAP_CLIENT_SECRET)</string>
	<key>NAVER_SEARCH_CLIENT_ID</key>
	<string>$(NAVER_SEARCH_CLIENT_ID)</string>
	<key>NAVER_SEARCH_CLIENT_SECRET</key>
	<string>$(NAVER_SEARCH_CLIENT_SECRET)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>독서한 장소를 지도에 기록하기 위해 위치 정보를 사용합니다.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
